pre
  padding: 1rem;
  overflow: auto
  [data-linenos]
    padding: 1em 0
  & table td
    padding: 0
  & table td:nth-of-type(1)
    text-align: center
    user-select: none
  mark
    display: block
  table
    width 100%
      border-collapse: collapse
