@import variables/_colors

@import _root
@import _font
@import _elastic
@import _header
// @import _nav
// @import _theme-switch
@import _body
@import _main
@import _links
@import _footer
@import _dropdown

@import pre

html
  font-size: 10px
  font-family: $font
  margin: 0
  padding: 0
  height: 100%
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
