{% import "macros.html" as macros %}
{% import "logos.html" as logos %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    {% include "atoms/head.html" %}
    {% block head %}
    {% endblock head %}
  </head>
  <!--<canvas id="bg"></canvas>-->
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block body %}
      <header>
        {% block header %}
          {% include "atoms/header.html" %}
        {% endblock header %}
      </header>
      <main>
        {% block content %}{% endblock content %}
      </main>
      <footer>
        {% block footer %}
          {% include "atoms/footer.html" %}
        {% endblock footer %}
      </footer>
    {% endblock body %}
  </body>
</html>
