{% extends "base.html" %}
{% import "aside.html" as aside %}
{% import "svgs.html" as svgs %}

{% block headerRight %}
  <nav>
    <a class="underline" type="application/rss+xml" href="{{ get_url(path="rss.xml") }}">rss</a>
  </nav>
{% endblock headerRight %}

{% block aside %}
  {{ aside::nav(class="sidebar") }}
{% endblock aside %}

{% block content %}
  <h3 class="title">{{ page.title }}</h3>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
{% endblock content %}

{% block footerMid %}
  {{ svgs::logoWithText() }}
{% endblock footerMid %}
