<li>
  <a aria-hasppopup="true">git</a>
  <ul>
    <li class="dd-choice"><a href="https://github.com/pard68">hub</a></li>
    <li class="dd-choice"><a href="https://gitlab.com/pard">lab</a></li>
    <li class="dd-choice"><a href="https://sr.ht/~pard/">sr.ht</a></li>

  </ul>
</li>
