{% import "macros.html" as macros %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include "atoms/favicon.html" %}

<title>{{ config.title }}</title>

{% if config.extra_subtitle %}
<meta name="description" content="{{ config.extra.subtitle }}">
{% endif %}

<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false, cachebust=true) }}">

{% if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
{% endif %}

{% if config.extra.headlinks %} {% for link in config.extra.headlinks %}
<link rel="{{ link.rel }}" href="{{ link.link | safe }}">
{% endfor %} {% endif %}

{% if indieauth %}
<link rel="openid.delegate" href="{{ config.base_url }}" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />
{% endif %}

<script type="module" src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.1-Ugtf0P5kipzmpINBLqbM/mode=imports,min/optimized/@hotwired/turbo.js"></script>
<script src="{{get_url(path='js/theme.js', trailing_slash=false) }}"></script>
<script type="module" src="{{ get_url(path="js/base.js", trailing_slash=false) }}"></script>
