<nav class="dropdown">
  <ul>
    <li><a class="underline" href="{{ get_url(path="about") }}">about</a></li>
    <li><a class="underline" href="{{ get_url(path="blog") }}">blog</a></li>
    <li><a class="underline" href="{{ get_url(path="proj") }}">projects</a></li>
    {% include "atoms/git-selector.html" %}
    <li><a class="underline" type="application/rss+xml" href="{{ get_url(path="rss.xml") }}">rss</a></li>
    {% include "atoms/theme-switch.html" %}
  </ul>
</nav>
